.container-feedback{
    width: 100%;
    background-color: $background-color-default;
    border: .0625rem solid $background-color-disabled;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;

    .custom-button{
        height: 2.5rem !important;
        font-size: .875rem;
        letter-spacing: .5px;
    }

    .title-feedback{
        display: flex;
        flex-direction: column;
        font-size: .9375rem;
        font-weight: 700;
        gap: .5rem;

        .icon-message-feedback{
            font-size: 1.2rem;
        }
    }

    .description-feedback{
        font-size: .6875rem;
    }
}
