.buttonOptionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  display: block;
  font-weight: 600;
  font-size: 1rem;
}

.optionsGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.optionItem {
  cursor: pointer;
  padding: 1rem;
  font-family: inherit;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 2px solid transparent;
  background-color: var(--gray-200);
  transition: all 200ms ease-in;
}

.optionItemActive {
  color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  background-color: var(--default-color);
  font-weight: bold;
}

.errorMsg {
  font-size: 12px;
  font-weight: 700;
  justify-content: flex-start;
  gap: 4px;
}
