@bg:registry=https://pkgs.dev.azure.com/bancoguayaquil/_packaging/TecnologiaFeed/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/bancoguayaquil/_packaging/TecnologiaFeed/npm/registry/:username=PAT-ArtifactsFeedsBG
//pkgs.dev.azure.com/bancoguayaquil/_packaging/TecnologiaFeed/npm/registry/:_password=$(PATFeedsBGPassword)
//pkgs.dev.azure.com/bancoguayaquil/_packaging/TecnologiaFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/bancoguayaquil/_packaging/TecnologiaFeed/npm/:username=PAT-ArtifactsFeedsBG
//pkgs.dev.azure.com/bancoguayaquil/_packaging/TecnologiaFeed/npm/:_password=$(PATFeedsBGPassword)
//pkgs.dev.azure.com/bancoguayaquil/_packaging/TecnologiaFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
