$breakpoints: (
  xs: 20rem,    
  sm: 40rem,     
  md: 48rem,    
  lg: 64rem,     
  xl: 80rem,     
  xxl: 88rem    
);

$bgBreakpoints: (
  sm: 24.375rem,
  mdVertical: 52.125rem,
  mdHorizontal: 64rem,
  lg: 80rem,
  xl: 90rem,
  2xl: 120rem,
);
