
$background-color-primary: #D2006E;
$background-color-secondary: #160F41;
$background-color-hover: #af1364 ;
$text-color-link: #0F62FE;
$text-color-secondary: #424242;
$text-color-default: #121212;
$text-color-variant: #393939;
$text-color-variant-2: #6F6F6F;
$background-color-default: #FFFFFF;
$icon-color-variant: #898989;
$gray-100: #F9F9F9;
$grayscale: #F3F3F5;
$background-color-variant: #F3F3F3;
$border-color-gray: #F4F4F4;
$background-color-disabled: #EDEDED;
$text-color-disabled:#898989;
$text-color-terms: #012244;
$border-color-variant: #d0d0d0;
$icon-color-success: #137B02;
$color-success-variant: #29A343;
$color-success-variant-2: #E7F3E5;
$color-avatar: #D0CEDB;
$text-color-gray: #717171;
$background-color-info: #E7EFFE;
$icon-color-info: #0F62FE;
$text-color-critical: #DA1E28;
$text-success: #09B500;
